:root {
  --main-bg-color: #ae3918;
  --header-nav-bg-color: darkviolet;
  --header-nav-txt-color: #ccc;
  --footer-bg-color: darkviolet;
  --footer-txt-color: #ccc;
  --body-text-color: white;
  --header-footer-font-size: 20px;
  --h1-font: 55px;
  --h2-font: 35px;
  --h3-font: 25px;
  --paragraph: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
